body {
  background-color: #e8e8e8;
}

img {
  width: 800;
  height: auto;
  justify-content: center;
}


*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
  background-color: #e8e8e8;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}


-------------------

*{
  margin: 0;
  padding: 0;
  font-family: cursive ;
  box-sizing: border-box;
}

.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.round{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin: 70px;
  line-height: 250px;

}

.icon{
  padding-right: ;
}

--------------

.body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
  padding: 10px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.team-member {
width: 230px;
text-align: center;
}

/*.team-member img {
  width: 190px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}*/


.team-member h3 {
  margin: 15px 0 5px 0;
  font-size: 1.2em;
  color: #333;
}


-----

